.order-success-container {
    max-width: 540px;
}

.order-box {
    border-radius: 1.5rem;
    border-width: 2.5px !important;
    background: #fff;
    padding: 2rem 1.5rem 1rem 1.5rem;
    margin-bottom: 2rem;
    transition: box-shadow .2s;
}

.order-box-inner {
    font-size: 1.08rem;
    text-align: left;
}

.order-label {
    margin-bottom: 0.7rem;
    font-weight: 500;
    color: #2e907a;
}

.order-amount {
    color: #1aaf82;
    font-size: 1.18em;
    font-weight: 600;
}

.order-items-box {
    background: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    max-width: 540px;
    box-shadow: 0 1px 10px 0 #f2f4f7;
}

.order-items-title {
    padding: 1rem 1.2rem 0.7rem 1.2rem;
    background: #f9fafc;
    border-bottom: 1px solid #eee;
    font-size: 1.08rem;
    text-align: left;
    margin-bottom: 0;
}

.order-items-list .order-item {
    border: none;
    padding: 0.85rem 1.2rem;
    font-size: 1.05rem;
    background: none;
}

.order-item-img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 8px;
    border: 1.5px solid #e7e7e7;
    background: #fafafa;
    margin-right: 12px;
}

@media (max-width: 600px) {

    .order-success-container,
    .order-items-box {
        max-width: 99vw;
        padding: 0;
    }

    .order-box {
        padding: 1.1rem 0.6rem 1rem 0.6rem;
    }

    .order-items-title,
    .order-items-list .order-item {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}